<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roll-Dice</title>
</head>
<body>
    <div th:if="${userNum}">
        <p>User Number:</p><p th:text="${userNum}"></p>
        <br>
        <p>Random Number:</p><p th:text="${compNum}"></p>
        <br>
        <h2 th:if="${userNum == compNum}">Congrats you guessed correctly.</h2>
        <h2 th:if="${userNum != compNum}">Try guessing again.</h2>
    </div>
    <a href="/roll-dice/1">Side 1</a>
    <a href="/roll-dice/2">Side 2</a>
    <a href="/roll-dice/3">Side 3</a>
    <a href="/roll-dice/4">Side 4</a>
    <a href="/roll-dice/5">Side 5</a>
    <a href="/roll-dice/6">Side 6</a>
</body>
</html>